body {
   
    font-family:monospace;
    font-size:larger;
background: #060906;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.poema{
    display:block;
    background-color: #060906;
    max-width: 750px;
    margin:48px auto;
    padding: 48px 24px;
    border-radius: 16px;
    color: #9bbc0f;
    margin-bottom: 50px;
 
}

hr{
    border:1px dashed;
    max-width: 480px;
    margin-bottom: 5%;
    margin-top:5%;
}

a:link,a:visited{
    color:#9bbc0f;

}


a:hover{
    color:#060906;
    background-color:#9bbc0f;
}

a:active{
    color:#060906;
    background-color:white;
}


footer {
    text-align: center;
}

