body {
   
    font-family:sans-serif;
    font-size:large;
background: #060906;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}
.poema{
    display:block;
    background-color: #f9f9f9;
    max-width: 750px;
    margin:48px auto;
    padding: 48px 24px;
    border-radius: 16px;
    color: #060906;
    margin-bottom: 50px;
 
}

hr{
    border:1px dashed;
    max-width: 480px;
    margin-bottom: 5%;
    margin-top:5%;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    .poema{

        font-size:smaller;
    }
}